.hero_prod {
    height: 100vh;
    background-image: url(../images/fondo3.png);
  
    .hero_header_prod {
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      position: fixed;
      padding: 1rem;
      top: 0;
      width: 100%;
      z-index: 1000;
  
      .logo_prod {
        font-family: 'Ysabeau SC', sans-serif;
        font-size: 3rem;
      }
  
      .header_rigth_prod {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
  
        p {
          margin-bottom: auto;
          font-size: 1.5rem;
          font-family: 'Open Sans', sans-serif;
        }
  
        .menu_prod {
          font-family: 'Ysabeau SC', sans-serif;
          display: flex;
          list-style-type: none;
          font-size: 1.5rem;
          gap: 1rem;
          font-weight: 1rem;
  
          a {
            text-decoration: none;
            color: black;
          }
  
          &:hover {
            background-color: #000000;
  
            a:hover {
              color: whitesmoke;
            }
          }
        }
      }
    }
  
    .hero_main_prod {
      display: flex;
  
      > div {
        flex: 1;
      }
    }
  
    .menu_prod a {
      text-decoration: none;
      color: black;
    }
  
    .menu_item_prod:hover {
      background-color: #000000;
  
      a:hover {
        color: whitesmoke;
      }
    }
  }
  
  .cartas {
    width: 100%;
    height: 100vh;
    background-image: url('../images/fondocards.png');
    background-size: cover;
    background-position: center;
    animation: backgroundAnimation 10s ease-in-out 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    .card {
      width: 200px;
      height: 300px;
      background-color: white;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      img {
        width: 100%;
        max-height: 200px;
        border-radius: 5px;
      }
  
      h2 {
        margin-top: 0.5rem;
      }
  
      p {
        color: #555;
      }
  
      .btn {
        display: inline-block;
        padding: 0.5rem 1rem;
        background-color: #333;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        margin-top: 1rem;
      }
    }
  
    @keyframes backgroundAnimation {
      0% {
        opacity: 90%;
        transform: scale(1);
      }
      100% {
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }